<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评分排名</title>
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
<div class="header">
    豆瓣top250音乐榜单统计
</div>
<div class="nav">
    <div class="tab1">
        <a href="/rating_data_show" target="_blank">评分排名</a>
    </div>
    <div class="tab2">
        <a href="/reviewing_data_show" target="_blank">评分人数统计</a>
    </div>
    <div class="tab3">
        <a href="/year_data_show" target="_blank">发行时间分析</a>
    </div>
    <div class="tab4">
        <a href="/rating_counts_data_show" target="_blank">评分分布统计</a>
    </div>
</div>

<!--jinja2 模板语言-->
<!--{{result}}-->


<table>
    <tr class="table_header">
        <td>专辑名字</td>
        <td>专辑作者</td>
        <td>发行时间</td>
        <td>专辑类型</td>
        <td>豆瓣评分</td>
        <td>豆瓣评分人数</td>
    </tr>
    {% for r_data in result %}
    <tr class="table_content">
        <td>{{r_data[0]}}</td>
        <td>{{r_data[1]}}</td>
        <td>{{r_data[2]}}</td>
        <td>{{r_data[4]}}</td>
        <td>{{r_data[5]}}</td>
        <td>{{r_data[6]}}</td>
    </tr>
    {%endfor%}
</table>

</body>
</html>