<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发行时间分析</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="header">
    豆瓣top250音乐榜单统计
</div>
<div class="nav">
    <div class="tab1">
        <a href="/rating_data_show" target="_blank">评分排名</a>
    </div>
    <div class="tab2">
        <a href="/reviewing_data_show" target="_blank">评分人数统计</a>
    </div>
    <div class="tab3">
        <a href="/year_data_show" target="_blank">发行时间分析</a>
    </div>
    <div class="tab4">
        <a href="/rating_counts_data_show" target="_blank">评分分布统计</a>
    </div>
</div>

<div class="img2">
    <img src="/static/images/music_year.png">
</div>

</body>
</html>